span.roll-label, img {
    display: inline-block;
}

img.roll-image {
    width: 15px;
    cursor: pointer;
}

img.group-roll-image {
    width: 15px;
    cursor: pointer;
}

table.table {
    text-align: center;
}

div.roll-result {
    white-space: nowrap;
}

.critical-success {
    border: 1px solid blue;
}

.critical-failure {
    border: 1px solid red;
}

table.attack-roll-output-table, a.btn-primary {
    display: inline-block;
    vertical-align: top;
}