span.roll-label, img {
    display: inline-block;
}

img.roll-image {
    width: 15px;
    cursor: pointer;
}

img.group-roll-image {
    width: 15px;
    cursor: pointer;
}

table.table {
    text-align: center;
}

div.roll-result {
    white-space: nowrap;
}

div.roll-result.critical {
    border: 1px solid red;
}