{% load display_extras static %}
<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset="UTF-8">
    <title>Talespinner - {{title|default:"Index"}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'display/style.css' %}" />
</head>
<body>
    Todo: Set up template inheritance so we don't just run a single monolithic html file
    Seed for this map: {{ map_seed|default:"Unknown" }}
    <table id="map-table" style="min-width: {{min_width|default:0}}px;">
    {% for row in map_room %}
    <tr>
        {% for col in row %}
        <td class="{{ col|convert }}"></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</body>
</html>
