{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Talespinner: Encounter Groups{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion" id="accordionExample">
        {% for encounter_group in encounter_groups %}
      <div class="card">
        <div class="card-header" id="heading-{{ encounter_group.id }}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id }}">
              {{ encounter_group.name }} ({{ encounter_group.encounters|length }} encounter{{ encounter_group.encounters|pluralize }})
            </button>
          </h2>
        </div>

        <div id="collapse-{{ encounter_group.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}" data-parent="#accordionExample">
          <div class="card-body">
            {% for encounter in encounter_group.encounters %}
              <div class="card">
                  <div class="card-header" id="heading-{{ encounter_group.id }}-{{ encounter.id }}">
                      <h3 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}-{{ encounter.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id }}-{{ encounter.id}}">
                              {{ encounter.name }} ({{ encounter.creatures|length }} creature{{ encounter.creatures|pluralize }})
                          </button>
                      </h3>
                  </div>
                  <div id="collapse-{{ encounter_group.id }}-{{ encounter.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}-{{ encounter.id}}" data-parent="#collapse-{{ encounter_group.id }}">
                      <div class="card-body">
                          {% for creature in encounter.creatures %}
                            <div class="card">
                                <div class="card-header" id="heading-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id}}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{encounter_group.id }}-{{ encounter.id }}-{{ creature.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                            {{ creature.display_name }}: {{ creature.template.name }} {{ creature.current_hp }}/{{ creature.template.max_hp }} HP. Current initiative: {{ creature.current_initiative }}
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}-{{ encounter.id }}-{{ creature.id }}" data-parent="#collapse-{{ encounter_group.id }}-{{ encounter.id }}">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs" id="creature-tablist-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" id="stats-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" data-toggle="tab" href="#stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="true">Stats</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" id="actions-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" data-toggle="tab" href="#actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="false">Actions</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" id="skills-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}-tab" data-toggle="tab" href="#skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="false">Skills</a>
                                          </li>
                                        </ul>
                                        <div class="tab-content" id="creature-tablist-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}Content">
                                          <div class="tab-pane fade show active" id="stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="stats-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                              <table class="table">
                                                  <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th><span class="roll-label">STR</span> <img data-target="str" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th><span class="roll-label">DEX</span> <img data-target="dex" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th><span class="roll-label">CON</span> <img data-target="con" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th><span class="roll-label">INT</span> <img data-target="int" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th><span class="roll-label">WIS</span> <img data-target="wis" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th><span class="roll-label">CHA</span> <img data-target="cha" class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/></th>
                                                        <th>AC</th>
                                                        <th>HP</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td>{{ creature.template.str }}</td>
                                                        <td>{{ creature.template.dex }}</td>
                                                        <td>{{ creature.template.con }}</td>
                                                        <td>{{ creature.template.int }}</td>
                                                        <td>{{ creature.template.wis }}</td>
                                                        <td>{{ creature.template.cha }}</td>
                                                        <td>{{ creature.template.ac }}</td>
                                                        <td>{{ creature.current_hp }}/{{ creature.template.max_hp }}</td>
                                                    </tr>
                                                    <tr class="roll-result-row">
                                                        <td>Roll Result:</td>
                                                        <td data-stat="str"></td>
                                                        <td data-stat="dex"></td>
                                                        <td data-stat="con"></td>
                                                        <td data-stat="int"></td>
                                                        <td data-stat="wis"></td>
                                                        <td data-stat="cha"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                  </tbody>

                                              </table>
                                          </div>
                                          <div class="tab-pane fade" id="actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="actions-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                              Actions (maybe make a new tab for attacks)
                                          </div>
                                          <div class="tab-pane fade" id="skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="skills-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}-tab">
                                              Skills and saves (maybe just skills)
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
</div> <!-- end container -->
{% endblock %}