{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Talespinner: Encounter Groups{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion" id="accordionExample">
        {% for encounter_group in encounter_groups %}
      <div class="card">
        <div class="card-header" id="heading-{{ encounter_group.id }}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id }}">
              {{ encounter_group.name }} ({{ encounter_group.encounters|length }} encounter{{ encounter_group.encounters|pluralize }})
            </button>
          </h2>
        </div>

        <div id="collapse-{{ encounter_group.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}" data-parent="#accordionExample">
          <div class="card-body">
            {% for encounter in encounter_group.encounters %}
              <div class="card">
                  <div class="card-header" id="heading-{{ encounter_group.id }}-{{ encounter.id }}">
                      <h3 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}-{{ encounter.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id }}-{{ encounter.id}}">
                              {{ encounter.name }} ({{ encounter.creatures|length }} creature{{ encounter.creatures|pluralize }})
                          </button>
                      </h3>
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <div id="collapse-{{ encounter_group.id }}-{{ encounter.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}-{{ encounter.id}}" data-parent="#collapse-{{ encounter_group.id }}">
                      <div class="card-body">
                          {% for creature in encounter.creatures %}
                            <div class="card">
                                <div class="card-header" id="heading-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id}}">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{encounter_group.id }}-{{ encounter.id }}-{{ creature.id }}" aria-expanded="false" aria-controls="collapse-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                            {{ creature.display_name }}: {{ creature.template.name }} {{ creature.current_hp }}/{{ creature.template.avg_hp }} HP. Current initiative: {{ creature.current_initiative }}
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" class="collapse" aria-labelledby="heading-{{ encounter_group.id }}-{{ encounter.id }}-{{ creature.id }}" data-parent="#collapse-{{ encounter_group.id }}-{{ encounter.id }}">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs" id="creature-tablist-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" id="actions-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" data-toggle="tab" href="#actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="false">Actions</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" id="stats-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" data-toggle="tab" href="#stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="true">Stats</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" id="skills-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}-tab" data-toggle="tab" href="#skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tab" aria-controls="skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" aria-selected="false">Skills</a>
                                          </li>
                                        </ul>
                                        <div class="tab-content" id="creature-tablist-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}Content">
                                          <div class="tab-pane fade show active" id="actions-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="actions-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                              {% for action in creature.template.actions %}
                                              <div class="card">
                                                  <div class="card-body">
                                                      <h5 class="card-title">{{ action.name }}</h5>
                                                      <h6 class="card-subtitle text-muted">Action</h6>
                                                      <p class="card-text">{{ action.description }}</p>
                                                  </div>
                                              </div>
                                              {% endfor %}
                                              {% for attack in creature.template.attacks %}
                                              <div class="card">
                                                  <div class="card-body">
                                                      <h5 class="card-title">{{ attack.name }}</h5>
                                                      <h6 class="card-subtitle text-muted">Attack</h6>
                                                      <p class="card-text">{{ attack.description }}</p>
                                                      <a href="#" class="btn btn-primary">Roll this Attack</a>
                                                      <span class="attack-roll-output-field"></span>
                                                  </div>
                                              </div>
                                              {% endfor %}
                                              {% for trait in creature.template.traits %}
                                              <div class="card">
                                                  <div class="card-body">
                                                      <h5 class="card-title">{{ trait.name }}</h5>
                                                      <h6 class="card-subtitle text-muted">Trait</h6>
                                                      <p class="card-text">{{ trait.description }}</p>
                                                  </div>
                                              </div>
                                              {% endfor %}
                                          </div>
                                          <div class="tab-pane fade" id="stats-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="stats-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}">
                                              <table class="table" data-creature-id="{{ creature.id }}">
                                                  <thead>
                                                    <tr>
                                                        <th>Stat</th>
                                                        <th>Value</th>
                                                        <th>Roll?</th>
                                                        <th>Roll Result</th>
                                                        <th>Save Bonus</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                        <td>STR</td>
                                                        <td>{{ creature.template.str }}</td>
                                                        <td data-roll-field="str" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="str"></td>
                                                        <td>{{ creature.template.str_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DEX</td>
                                                        <td>{{ creature.template.dex }}</td>
                                                        <td data-roll-field="dex" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="dex"></td>
                                                        <td>{{ creature.template.dex_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CON</td>
                                                        <td>{{ creature.template.con }}</td>
                                                        <td data-roll-field="con" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="con"></td>
                                                        <td>{{ creature.template.con_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>INT</td>
                                                        <td>{{ creature.template.int }}</td>
                                                        <td data-roll-field="int" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="int"></td>
                                                        <td>{{ creature.template.int_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>WIS</td>
                                                        <td>{{ creature.template.wis }}</td>
                                                        <td data-roll-field="wis" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="wis"></td>
                                                        <td>{{ creature.template.wis_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CHA</td>
                                                        <td>{{ creature.template.cha }}</td>
                                                        <td data-roll-field="cha" data-roll-type="stat">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="cha"></td>
                                                        <td>{{ creature.template.cha_save }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>AC</td>
                                                        <td>{{ creature.template.ac }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>HP</td>
                                                        <td>{{ creature.current_hp }} of {{ creature.template.avg_hp }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                  </tbody>

                                              </table>
                                          </div>
                                          <div class="tab-pane fade" id="skills-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}" role="tabpanel" aria-labelledby="skills-tab-creature-{{ encounter_group.id}}-{{ encounter.id }}-{{ creature.id }}-tab">
                                              <table class="table" data-creature-id="{{ creature.id }}">
                                                  <thead>
                                                    <tr>
                                                        <th>Skill</th>
                                                        <th>Mod</th>
                                                        <th>Roll?</th>
                                                        <th>Roll Result</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                        <td>Acrobatics</td>
                                                        <td>{{ creature.template.acrobatics }}</td>
                                                        <td data-roll-field="acrobatics" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="acrobatics"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Animal Handling</td>
                                                        <td>{{ creature.template.animal_handling }}</td>
                                                        <td data-roll-field="animal_handling" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="animal_handling"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Arcana</td>
                                                        <td>{{ creature.template.arcana }}</td>
                                                        <td data-roll-field="arcana" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="arcana"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Athletics</td>
                                                        <td>{{ creature.template.athletics }}</td>
                                                        <td data-roll-field="athletics" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="athletics"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Deception</td>
                                                        <td>{{ creature.template.deception }}</td>
                                                        <td data-roll-field="deception" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="deception"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>History</td>
                                                        <td>{{ creature.template.history }}</td>
                                                        <td data-roll-field="history" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="history"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Insight</td>
                                                        <td>{{ creature.template.insight }}</td>
                                                        <td data-roll-field="insight" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="insight"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Intimidation</td>
                                                        <td>{{ creature.template.intimidation }}</td>
                                                        <td data-roll-field="insight" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="intimidation"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Investigation</td>
                                                        <td>{{ creature.template.investigation }}</td>
                                                        <td data-roll-field="investigation" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="investigation"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Medicine</td>
                                                        <td>{{ creature.template.medicine }}</td>
                                                        <td data-roll-field="medicine" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="medicine"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nature</td>
                                                        <td>{{ creature.template.nature }}</td>
                                                        <td data-roll-field="nature" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="nature"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Perception</td>
                                                        <td>{{ creature.template.perception }}</td>
                                                        <td data-roll-field="perception" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="perception"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Performance</td>
                                                        <td>{{ creature.template.performance }}</td>
                                                        <td data-roll-field="performance" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="performance"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Persuasion</td>
                                                        <td>{{ creature.template.persuasion }}</td>
                                                        <td data-roll-field="persuasion" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="persuasion"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Religion</td>
                                                        <td>{{ creature.template.religion }}</td>
                                                        <td data-roll-field="religion" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="religion"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sleight of Hand</td>
                                                        <td>{{ creature.template.sleight_of_hand }}</td>
                                                        <td data-roll-field="sleight_of_hand" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="sleight_of_hand"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stealth</td>
                                                        <td>{{ creature.template.stealth }}</td>
                                                        <td data-roll-field="stealth" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="stealth"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Survival</td>
                                                        <td>{{ creature.template.survival }}</td>
                                                        <td data-roll-field="survival" data-roll-type="skill">
                                                            <img class="roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                                        </td>
                                                        <td data-roll-output-field="survival"></td>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}  <!-- endfor creature in encounter.creatures -->
                      </div>
                  </div>
                      </div>
                      <div class="col-6">
                          <table class="table"
                                 data-encounter-group-id="{{ encounter_group.id }}"
                                 data-encounter-id="{{ encounter.id }}">
                              <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Initiative</th>
                                    <th>STR Save</th>
                                    <th>DEX Save</th>
                                    <th>CON Save</th>
                                    <th>INT Save</th>
                                    <th>WIS Save</th>
                                    <th>CHA Save</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th data-roll-field="initiative" data-roll-type="stat">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="str_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="dex_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="con_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="int_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="wis_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                    <th data-roll-field="cha_save" data-roll-type="save">
                                        <img class="group-roll-image" src="{% static 'img/dice_black_on_white.svg' %}"/>
                                    </th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for creature in encounter.creatures %}
                                <tr class="creature-group-roll-row" data-creature-id="{{ creature.id }}">
                                    <td>{{ creature.display_name }}</td>
                                    <td data-roll-field="initiative"></td>
                                    <td data-roll-field="str_save"></td>
                                    <td data-roll-field="dex_save"></td>
                                    <td data-roll-field="con_save"></td>
                                    <td data-roll-field="int_save"></td>
                                    <td data-roll-field="wis_save"></td>
                                    <td data-roll-field="cha_save"></td>
                                </tr>
                              {% endfor %}  <!-- endfor creature in encounter.creatures -->

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
</div> <!-- end container -->
{% endblock %}