{% extends "frontend/base.html" %}

{% block title %}Talespinner: Encounter Groups{% endblock %}

{% block content %}
<div class="container">
    <div class="accordion" id="accordionExample">
        {% for encounter_group in encounter_groups %}
      <div class="card">
        <div class="card-header" id="heading-{{ encounter_group.id }}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}" aria-expanded="true" aria-controls="collapse-{{ encounter_group.id }}">
              {{ encounter_group.name }} ({{ encounter_group.encounters|length }} encounter{{ encounter_group.encounters|pluralize }})
            </button>
          </h2>
        </div>

        <div id="collapse-{{ encounter_group.id }}" class="collapse show" aria-labelledby="heading-{{ encounter_group.id }}" data-parent="#accordionExample">
          <div class="card-body">
            {% for encounter in encounter_group.encounters %}
              <div class="card">
                  <div class="card-header" id="heading-{{ encounter_group.id }}-{{ encounter.id }}">
                      <h3 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ encounter_group.id }}-{{ encounter.id }}" aria-expanded="true" aria-controls="collapse-{{ encounter_group.id }}-{{ encounter.id}}">
                              {{ encounter.name }} ({{ encounter.creatures|length }} creature{{ encounter.creatures.pluralize }})
                          </button>
                      </h3>
                  </div>
                  <div id="collapse-{{ encounter_group.id }}-{{ encounter.id }}" class="collapse show" aria-labelledby="heading-{{ encounter_group.id }}-{{ encounter.id}}" data-parent="#collapse-{{ encounter_group.id }}">
                      <div class="card-body">
                          BEEF
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
</div> <!-- end container -->
{% endblock %}